@mixin border {
    border: 1px solid black;
}

body{
    display: flex;
    flex-direction: column;
    header{
        @include border;
    }
    main{
        display:flex;
        #side-nav{
            @include border;
        }
        section{
            @include border;
            flex:3;
            ul {
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                flex-wrap:wrap;
                .product{
                    @include border;
                    width:20%;
                    flex-basis:10%;
                    padding: 40px;
                    margin:5px;
                }
            }
        }
    }
    footer{
        @include border;
    }
}
